#draft-scroll-wrapper {
    overflow-x: auto;
    padding-bottom: 1rem;
}

.draft-board-grid {
    display: grid;
    gap: 0.15rem;
    grid-auto-rows: min-content;
    align-items: start;
}

.draft-board-grid.cols-8 {
    grid-template-columns: 50px repeat(6, 110px) 50px;    
}
.draft-board-grid.cols-10 {
    grid-template-columns: 50px repeat(8, 110px) 50px;
}
.draft-board-grid.cols-12 {
    grid-template-columns: 50px repeat(10, 110px) 50px;
}
        
.round-label-left {
    min-width: 50px;
    min-height: 60px;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.round-label-right {
    min-width: 50px;
    min-height: 60px;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.draft-cell {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.15rem;
    background-color: #6c757d;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    min-height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keeper-mark {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 0.6rem;
    font-weight: bold;
    opacity: 0.7;
}

.draft-cell .last-name {
    font-weight: bold;
}

.draft-cell .pick-no {
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 0.6rem;
    font-weight: bold;
    opacity: 0.7;
}

.draft-cell span {
    display: block;
    line-height: 1.2;
}

/* Farbcode nach Position */
.QB { background-color: #ed4242; }
.RB { background-color: #28a745; }
.WR { background-color: #0e5cc9; }
.TE { background-color: #c187ed; }
.K { background-color: #17a2b8; }
.DEF { background-color: #343a40; }
.other { background-color: #6c757d; }

.draft-team-header {
    text-align: center;
    font-weight: bold;
    font-size: 0.77rem;
    padding: 0.23rem;
}

 .bracket-col {
      min-width: 180px;
    }
    .match {
      background: #f8f9fa;
      border: 1px solid #dee2e6;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      text-align: center;
    }

.bracket-scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
}
