/* Für Light Mode: */
[data-bs-theme="light"] .color-green { color: darkgreen; }
[data-bs-theme="light"] .color-red { color: darkred; }

/* Für Dark Mode: */
[data-bs-theme="dark"] .color-green { color: #7cff7c; }
[data-bs-theme="dark"] .color-red { color: #ff7c7c; }

[data-bs-theme="dark"] .table-striped > tbody > tr:nth-of-type(even) {
  --bs-table-accent-bg: #2c3035;
}
